@media (max-width: 1399.98px) {
  :root {
    --primary_background_color: #1c1e53;
    --white_color: #ffffff;
    --gray_color: #bbbbcb;
    --primary_font_color: #282938;
    --yellow_color: #fcd980;

    --poppins: "Poppins", sans-serif;
  }

  .customBanner__title {
    font-size: 36px;
    line-height: 53px;
  }

  .customBtn {
    padding: 16px 35px;
    line-height: 24px;
  }

  .customViewPricing {
    font-size: 16px;
  }

  .customOverlay__title {
    font-size: 21px;
  }

  .overlay__content__viewProject {
    font-size: 15px;
    color: #fcd980;
  }

  .customFeatureTop__title {
    line-height: 12px;
  }

  .customFeatureTop__summary {
    font-size: 40px;
    line-height: 50px;
  }

  .featureBottomContent__summary {
    width: 220px;
    font-size: 14px;
    line-height: 28px;
  }

  .featureBottomContent__title {
    font-size: 18px;
    line-height: 22px;
  }

  .reviewPartLeftContent__title {
    font-size: 30px;
    line-height: 38px;
  }

  .reviewPartLeftContent__summary {
    font-size: 15px;
    line-height: 24px;
    margin-top: 7px;
  }

  .reviewPartRightTopContent__title {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 36px;
  }

  .customTopContent {
    padding: 38px 16px 10px 39px;
  }

  .customTopContent__title {
    font-size: 28px;
    line-height: 70px;
    padding-bottom: 13px;
  }

  .customTopContent__summary {
    line-height: 29px;
    padding-bottom: 50px;
  }

  .customMiddleContent {
    padding-right: 0px;
    padding-left: 42px;
    padding-bottom: 24px;
    row-gap: 10px;
  }

  .customInput {
    width: 420px;
    height: 55px;
    margin-bottom: 0px;
  }

  .customButton {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    padding: 16px 115px;
    margin-right: 0px;
    margin-left: 64px;
    margin-bottom: 18px;
  }

  .customLink {
    margin-left: 150px;
    padding-top: 15px;
  }

  .contactContentHolder__title {
    font-size: 35px;
    line-height: 50px;
  }

  .contactContentHolder__summary {
    width: 416px;
    font-size: 15px;
    line-height: 22px;
  }

  .cardHolder__time {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: #282938;
    opacity: 0.7;
    padding-top: 35px;
    padding-bottom: 16px;
  }

  .cardHolder__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    color: #282938;
    padding-bottom: 16px;
  }

  .cardHolder__summary {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #282938;
    opacity: 0.7;
    padding-bottom: 14px;
  }

  .footerLeftPartMiddleContent__contact {
    font-size: 18px;
    line-height: 28px;
  }

  .footerLeftPartMiddleContent__details {
    font-size: 13px;
    line-height: 31px;
  }
}
