@media (max-width: 991.98px) {
  :root {
    --primary_background_color: #1c1e53;
    --white_color: #ffffff;
    --gray_color: #bbbbcb;
    --primary_font_color: #282938;
    --yellow_color: #fcd980;
    --poppins: "Poppins", sans-serif;
  }

  .navbar-toggler:focus {
    box-shadow: none;
    border: 1px dashed #ffffff;
  }

  .customNav {
    text-align: center;
    background-color: #fcd980;
    border-radius: 8px;
    margin-top: 10px 0;
  }
}
